<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>
  <br />
  <ion-input
    label="Your Username"
    label-placement="floating"
    fill="outline"
    placeholder="Enter Username"
  ></ion-input>
  <br />
  <ion-input
    label="Your Email"
    label-placement="floating"
    fill="outline"
    placeholder="Enter Email"
  ></ion-input>
  <br />
  <ion-input
    label="Your Password"
    label-placement="floating"
    fill="outline"
    placeholder="Enter Password"
    ><ion-input-password-toggle slot="end"></ion-input-password-toggle
  ></ion-input>
  <br />
  <ion-input
    label="Confirm Password"
    label-placement="floating"
    fill="outline"
    placeholder="Re Enter Password"
    ><ion-input-password-toggle slot="end"></ion-input-password-toggle
  ></ion-input>
  <br />
  <ion-button expand="block">Submit</ion-button>
</ion-content>
